  <footer class="footer mt-3 py-3 bg-dark">
        <div class="container d-flex justify-content-center">
          <% const timeElapsed = Date.now(); %> 
          <% const today = new Date(timeElapsed); %> 
          <span class="text-muted"><%= today.getFullYear()%> - GimanaDok </span>
        </div>
      </footer>