<nav class="navbar navbar-expand-lg fixed-top navbar-scroll" style="background-color:orange">
  <div class="container-lg w-md-50">
    <a class="nav-link mx-3" href="/">
      <img src="/index.png" id="logo" alt="Logo" class="align-text-bottom">
    </a>
    <!-- dropdown toggler for smaller viewports -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav text-center ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/wellness">general wellness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/derma">skincare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/fitn">fitness and nutrition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/mentalhealth">mental health</a>
        </li>
      </ul>
    </div>
  </div>
</nav>