<% layout('/layouts/boilerplate')-%>
<link rel="stylesheet" href="css/hero-image.css">
<section>
    <div class="container-lg p-0">
        <div class="hero-image mb-0" style="height: 800px;"></div>
    </div>
</section>