<% layout('/layouts/boilerplate.ejs')-%>
<link rel="stylesheet" href="css/important-card.css">
<link rel="stylesheet" href="css/hero-image.css">
<section>
  <div class="hero-image d-flex mb-3 align-items-center justify-content-center" style="min-height: 60vh">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <h1 class="main-title fw-bold fs-1 text-center">jadi Gimana Dok?</h1>
      </div>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 p-3 d-flex justify-content-center">
          <!-- <div class="category-navigation shadow d-flex align-items-end" style="background-image: url('https://media.istockphoto.com/id/1208672944/id/foto/asuransi-kesehatan-konsep.jpg?s=612x612&w=0&k=20&c=YwhHGoEtmHDnIknl1ZxZEs8zxnL9A5ITRTNPXJ54etg='); background-position: right;">
            <div class="text-background pt-1 px-3">
              <p class="text-light">General wellness</p>
            </div>
          </div> -->
          <a href="/derma" class="category-navigation text-decoration-none shadow d-flex  align-items-end my-3" style="background-image: url('https://media.istockphoto.com/id/923660962/id/foto/dipotong-foto-wanita-cantik-di-jubah-mandi-mengoleskan-krim-wajah.jpg?s=612x612&w=0&k=20&c=wLna-pYTUsmuJTtJoXWvS13n8SXP7NAnjdj9gfbiQaE=');">
            <div class="text-background pt-1 px-1 px-md-3">
              <p class="text-light">Skincare</p>
            </div>
          </a>
          <a href="/fitn" class="category-navigation text-decoration-none shadow d-flex align-items-end my-3" style="background-image: url('https://st2.depositphotos.com/thumbs/2171279/image/8114/81144168/api_thumb_450.jpg?forcejpeg=true'); background-position: right;">
            <div class="text-background pt-1 px-1 px-md-3 text-align-end">
              <p class="text-light">Fitness and Nutrition</p>
            </div>
          </a>
          <a href="/mentalhealth" class="category-navigation text-decoration-none shadow d-flex align-items-end my-3" style="background-image: url('https://st2.depositphotos.com/thumbs/20363444/image/46651/466519122/api_thumb_450.jpg?forcejpeg=true');">
            <div class="text-background pt-1 px-1 px-md-3">
              <p class="text-light">Mental Health</p>
            </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-lg justify-content-center">
    <div class="row justify-content-center justify-content-xl-start">
      <div class="card main-card col-md-2 m-3 shadow p-3 border-0 overflow-hidden text-overflow-ellipsis">
        <div class="card-subtitle p-2 fw-bold fst-italic text-primary">
            Preventif
        </div>
        <div class="card-title mb-1">
            <h4>Berikut hal yang kamu perlu tahu</h4>
        </div>
        <div class="card-body p-0">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio laborum veritatis distinctio dolor quis accusantium iste inventore? Ab quas vero animi a deleniti illum incidunt totam maxime rerum sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
        </div>
    </div>
        <div class="card main-card col-md-2 m-3 shadow p-3 border-0 overflow-hidden text-overflow-ellipsis">
          <div class="card-subtitle p-2 fw-bold fst-italic text-primary">
              Preventif
          </div>
          <div class="card-title mb-1">
              <h4>Berikut hal yang kamu perlu tahu</h4>
          </div>
          <div class="card-body p-0">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio laborum veritatis distinctio dolor quis accusantium iste inventore? Ab quas vero animi a deleniti illum incidunt totam maxime rerum sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
          </div>
      </div>
      <div class="card main-card col-md-2 m-3 shadow p-3 border-0 overflow-hidden text-overflow-ellipsis">
        <div class="card-subtitle p-2 fw-bold fst-italic text-primary">
            Preventif
        </div>
        <div class="card-title mb-1">
            <h4>Berikut hal yang kamu perlu tahu</h4>
        </div>
        <div class="card-body p-0">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio laborum veritatis distinctio dolor quis accusantium iste inventore? Ab quas vero animi a deleniti illum incidunt totam maxime rerum sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
        </div>
    </div>
    <div class="card main-card col-md-2 m-3 shadow p-3 border-0 overflow-hidden text-overflow-ellipsis">
      <div class="card-subtitle p-2 fw-bold fst-italic text-primary">
          Preventif
      </div>
      <div class="card-title mb-1">
          <h4>Berikut hal yang kamu perlu tahu</h4>
      </div>
      <div class="card-body p-0">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio laborum veritatis distinctio dolor quis accusantium iste inventore? Ab quas vero animi a deleniti illum incidunt totam maxime rerum sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
      </div>
  </div>
     </div>
   </div>
</section>