<% layout('/layouts/boilerplate')-%>
<section>
    <div class="mb-3 px-3 justify-content-center" style="width: 100%; background-color: rgb(53, 181, 138);">
    <div class="container">
        <div class="row" style="height: 100px;"></div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 d-flex align-items-end justify-content-center">
                <img src="/GR VIV 3482-03.jpg" class="img-fluid" style="max-height: 600px;" alt="" srcset="">
            </div>
            <div class="col-lg-6 my-3 d-flex align-items-end justify-content-center">
               <div class="card p-3 overflow-hidden main-card" style="height: 300px; width: 480px;">
                <div class="card-subtitle text-danger">
                    <p>Headline</p>
                </div>
                <div class="card-title p-0">
                    <h1>Did ya kno?</h1>
                </div>
                <div class="card-body p-0">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate delectus sapiente repudiandae tempore fuga, neque numquam dicta commodi vitae blanditiis aut, qui dolorum doloribus porro sit veniam nisi. Commodi, tempora!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore voluptatem animi nam. Dolor atque aut incidunt mollitia doloribus adipisci enim unde libero, quis dolorum, sapiente voluptate error, impedit illum quibusdam.</p>
                </div>
               </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="card main-card m-3 col-lg-6 shadow p-3 border-0 overflow-hidden text-overflow-ellipsis">
                <div class="card-subtitle p-2 fw-bold fst-italic text-primary">
                    Preventif
                </div>
                <div class="card-title mb-1">
                    <h4>Berikut hal yang kamu perlu tahu</h4>
                </div>
                <div class="card-body p-0">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio laborum veritatis distinctio dolor quis accusantium iste inventore? Ab quas vero animi a deleniti illum incidunt totam maxime rerum sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
                </div>
            </div>    
    </div>
    </div>
</section>

<!-- <div class="card m-3 shadow p-3 border-0">
                        <div class="card-subtitle mb-3 text-primary">
                            <div class="p">Preventif</div>
                        </div>
                        <div class="card-title mb-1">
                            <h4>Berikut hal yang kamu perlu tahu</h4>
                        </div>
                        <div class="card-body p-0">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio dolores consequatur autem quidem voluptas, itaque enim? Omnis vitae deserunt quas enim velit temporibus laborum, ipsum doloremque. Eveniet, architecto modi.</p>
                        </div>
                    </div> -->